{%- if settings.use_wishlist and shop.customer_accounts_enabled and settings.display_wishlist_icon -%}

<div class="wishlist-info-widget">
  {% if customer %}
    {% include 'iwish_v2' with 'iwishlink' %}
  {% else %}
<a href="/account/login">Wishlist <span class="gl_count_wishlist">{{ NITRO_WISHLIST_COUNT }}</span></a>
  {% endif %}
</div>
{%- endif -%}