{%- if settings.use_wishlist and shop.customer_accounts_enabled and settings.display_wishlist_icon -%}

<div class="wishlist-info-widget">
  {% if customer %}
    <a href="/apps/iwish">Wishlist <span class="gl_count_wishlist iWishCount"></span></a>
  {% else %}
<a href="/account/login">Wishlist <span class="gl_count_wishlist">0</span></a>
  {% endif %}
</div>
{%- endif -%}