{%- if settings.account_header_enable -%}
<div class="header-links">
   <ul>
      {%- if customer -%}
      <li><a href="/account"><i class="fa fa-user" aria-hidden="true"></i></a></li>
      <li><a href="/account/logout"><i class="fa fa-user" aria-hidden="true"></i></a></li>
      {%- else -%}
      <li><a href="/account/login"><i class="fa fa-user" aria-hidden="true"></i></a></li>
       {%- endif -%}
   </ul>
</div>
{%- endif -%}