<div class="promduideside_div">
<div class="promduide_cate_block open">
		<span class="promguide-side-title open">PLANNING FOR PROM</span>
		<ul class="sidemenu_prom">
				<li><a href="/pages/prom-costs">Prom Costs</a></li>
				<li><a href="/pages/prom-perfect-dress">The Perfect Dress</a>
					<ul>
					<li><a href="/pages/prom-dress-styles">Styles</a></li>
					<li><a href="/pages/prom-dress-fabrics">Fabrics</a></li>
					<li><a href="/pages/prom-dress-alterations">Alterations</a></li>
					</ul>
				</li>
				<li><a href="/pages/prom-accessories">Prom Accessories </a></li>
				<li><a href="/pages/prom-flowers">Prom Flowers</a></li>
			</ul>

	</div>
	
	<div class="promduide_cate_block">
		<span class="promguide-side-title">GETTING READY FOR PROM</span>
		<ul class="sidemenu_prom">
				<li><a href="/pages/prom-hair">Prom Hair</a></li>
				<li><a href="/pages/prom-makeup">Prom Makeup</a></li>
				<li><a href="/pages/prom-nails">Prom Nails</a></li>
			</ul>

	</div>
	
	<div class="promduide_cate_block">
		<span class="promguide-side-title">THE NIGHT OF</span>
		<ul class="sidemenu_prom">
				<li><a href="/pages/after-prom">After Prom</a></li>
				<li><a href="/pages/prom-memories">Memories</a></li>
			</ul>

	</div>
	
	<div class="promduide_cate_block">
		<span class="promguide-side-title">MORE PROM</span>
		<ul class="sidemenu_prom">
				<li><a href="/pages/prom-faqs">Prom FAQ</a></li>
			</ul>

	</div>


</div>


<div class="promduideside_div-right">


</div>