<style>.tp-caption.Twitter-Content a,.tp-caption.Twitter-Content a:visited{color:#0084B4 !important}.tp-caption.Twitter-Content a:hover{color:#0084B4 !important; text-decoration:underline !important}.tp-caption.Twitter-Content a,.tp-caption.Twitter-Content a:visited{color:#0084B4 !important}.tp-caption.Twitter-Content a:hover{color:#0084B4 !important; text-decoration:underline !important}.tp-caption.Twitter-Content a,.tp-caption.Twitter-Content a:visited{color:#0084B4 !important}.tp-caption.Twitter-Content a:hover{color:#0084B4 !important; text-decoration:underline !important}.tp-caption.Twitter-Content a,.tp-caption.Twitter-Content a:visited{color:#0084B4 !important}.tp-caption.Twitter-Content a:hover{color:#0084B4 !important; text-decoration:underline !important}</style><!--ID-wine-slider-demo-basel2myshopifycom--><!--[shopify-slider alias="wine-slider-demo-basel2myshopifycom"] --><!-- ok --><style type="text/css"></style>
<div id="rev_slider_4030_1_wrapper" class="wait-to-load rev_slider_wrapper fullscreen-container" data-alias="wine-slider-demo-basel2myshopifycom" style="background-color:transparent;padding:0px; opacity:0;">
<!-- START REVOLUTION SLIDER 5.2.6 fullscreen mode -->
	<div id="rev_slider_4030_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-14597" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/2285/2483/t/43/assets/slider-main-img-1.jpg?6727475824428660036"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/2285/2483/t/43/assets/slider-main-img-1.jpg?6727475824428660036"  alt=""  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Power0.easeInOut" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-50 0" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-14597-layer-8" 
			 data-x="['left','left','left','left']" data-hoffset="['120','8','29','-41']" 
			 data-y="['top','top','top','top']" data-voffset="['34','31','170','182']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/2285/2483/t/43/assets/slider-bottle-2.png?16359874131513293166" alt="" data-ww="['161px','161px','161px','161px']" data-hh="['610px','610px','610px','610px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-14597-layer-7" 
			 data-x="['left','left','left','left']" data-hoffset="['230','114','148','417']" 
			 data-y="['top','top','top','top']" data-voffset="['155','159','297','172']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://cdn.shopify.com/s/files/1/2285/2483/t/43/assets/slider-bottle-1.png?5775186600835009441" alt="" data-ww="['142px','142px','142px','142px']" data-hh="['485px','485px','485px','485px']" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-14597-layer-13" 
			 data-x="['center','center','center','center']" data-hoffset="['140','140','100','30']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-116','-146']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-responsive_offset="on" 

			
			style="z-index: 7;"><img src="https://cdn.shopify.com/s/files/1/2285/2483/t/43/assets/wine-vintage.png?11773412960861248608" alt="" data-ww="['164px','164px','164px','164px']" data-hh="['164px','164px','164px','164px']" data-no-retina> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-14597-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['139','139','100','30']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['70','70','29','-20']" 
						data-fontsize="['26','26','18','14']"
			data-lineheight="['40','40','32','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 8; white-space: nowrap; font-size: 26px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Courgette;text-align:center;letter-spacing:0;">
Nothing makes the future look so rosy as to contemplate<br> it through a glass of Chambertin. </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn " 
			 id="slide-14597-layer-16" 
			 data-x="['center','center','center','center']" data-hoffset="['140','140','100','30']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['165','165','120','57']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(162, 44, 77, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Merriweather;background-color:rgba(255, 255, 255, 0);padding:14px 30px 14px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Continue Reading </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-14598" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://cdn.shopify.com/s/files/1/2285/2483/t/43/assets/slider-main-img-1.jpg?6727475824428660036"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <img src="https://cdn.shopify.com/s/files/1/2285/2483/t/43/assets/slider-main-img-1.jpg?6727475824428660036"  alt=""  data-bgposition="center top" data-kenburns="on" data-duration="10000" data-ease="Power0.easeInOut" data-scalestart="100" data-scaleend="105" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="-50 0" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-14598-layer-13" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-57','-57','-107','-112']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-responsive_offset="on" 

			
			style="z-index: 5;"><img src="https://cdn.shopify.com/s/files/1/2285/2483/t/43/assets/wine-logo2.png?14612407851232402749" alt="" data-ww="['253px','253px','194px','185px']" data-hh="['146px','146px','112px','107px']" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-14598-layer-5" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['70','70','-4','-21']" 
						data-fontsize="['26','26','18','14']"
			data-lineheight="['40','40','32','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; white-space: nowrap; font-size: 26px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Courgette;text-align:center;letter-spacing:0;">
Nothing makes the future look so rosy as to contemplate<br> it through a glass of Chambertin. </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption rev-btn " 
			 id="slide-14598-layer-16" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['165','165','77','44']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
				data-style_hover="c:rgba(162, 44, 77, 1.00);bg:rgba(255, 255, 255, 1.00);"
 
			 data-transform_in="y:50px;opacity:0;s:300;e:easeOutExpo;" 
			 data-transform_out="opacity:0;" 
			data-start="0" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Merriweather;background-color:rgba(255, 255, 255, 0);padding:14px 30px 14px 30px;border-color:rgba(255, 255, 255, 1.00);border-style:solid;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Continue Reading </div>
	</li>
</ul>
<!-- STYLE --><style>

</style><!-- /STYLE --><div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<!-- STYLE --><style type="text/css">.tp-caption.Fashion-BigDisplay,.Fashion-BigDisplay{color:rgba(0,0,0,1.00);font-size:60px;line-height:60px;font-weight:900;font-style:normal;font-family:Raleway;padding:0 0 0 0px;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0 0 0 0px;letter-spacing:2px}</style><!-- /STYLE --><!-- STYLE --><style type="text/css">	#rev_slider_4030_1_wrapper .tp-loader.spinner4{ background-color: #FFFFFF !important; } </style><!-- /STYLE --><!-- STYLE -->				<style type="text/css">#rev_slider_4030_1 .uranus.tparrows{width:50px; height:50px; background:rgba(255,255,255,0)}#rev_slider_4030_1 .uranus.tparrows:before{width:50px; height:50px; line-height:50px; font-size:40px; transition:all 0.3s;-webkit-transition:all 0.3s}#rev_slider_4030_1 .uranus.tparrows:hover:before{opacity:0.75}</style>
				<!-- /STYLE --></div><!-- END REVOLUTION SLIDER --><!--/ID-wine-slider-demo-basel2myshopifycom--><script>
(function(){var urls=["https:\/\/fonts.googleapis.com\/css?family=Courgette%3A400","https:\/\/fonts.googleapis.com\/css?family=Merriweather%3A400"];for(var i=0;i<urls.length;i++){var s=document.createElement('link');s.rel='stylesheet';s.type='text/css';s.href=urls[i];var x=document.getElementsByTagName('link')[0];x.parentNode.insertBefore(s,x);}})(jQuery);;var s = document.createElement('script');s.type = 'text/javascript';s.defer = true;s.async=true;s.src = 'https://partner.teathemes.net/shopify-assets/shop/demo-basel2.myshopify.com/wine-slider-demo-basel2myshopifycom.js';document.body.appendChild(s);</script>