<div id="MobileFooter">
         <div class="container">
         	<div class="section s1">
        		 <h2>Signup for our Newsletter</h2>
		 		 {%- include 'gl_form_newlester' -%}   
			</div>
			<div class="section s2">
        		<div class="product-share">
					<ul class="social-icons text-center social-share icons-design-default icons-size-small"><li class="social-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=https://couture-candy.myshopify.com/products/beaded-floral-applique-evening-dress" target="_blank" class=""><i class="fa fa-facebook"></i>Facebook</a></li>
				     <li class="social-twitter"><a href="http://twitter.com/share?url=https://couture-candy.myshopify.com/products/beaded-floral-applique-evening-dress" target="_blank" class=""><i class="fa fa-twitter"></i>Twitter</a></li><li class="social-pinterest"><a href="http://pinterest.com/pin/create/button/?url=https://couture-candy.myshopify.com/products/beaded-floral-applique-evening-dress&amp;media=http://cdn.shopify.com/s/files/1/0144/7018/5017/products/product-image_1024x1024.jpg?v=1534370576" target="_blank" class=""><i class="fa fa-pinterest-p"></i>Pinterest</a></li>
				     <li class="social-google"><a href="http://plus.google.com/share?url=https://couture-candy.myshopify.com/products/beaded-floral-applique-evening-dress" target="_blank" class=""><i class="fa fa-google-plus"></i>Google</a></li>
				     <li class="social-email"><a href="mailto:?subject=Check this https://couture-candy.myshopify.com/products/beaded-floral-applique-evening-dress" target="_blank" class=""><i class="fa fa-envelope"></i>Email</a></li></ul>

				</div>
			</div>
			<div class="section s3">
				<div class="Block FooterLinks">
		                <ul style="background: #8f8f8f;color: #fff;">
		                    <li class="mobi-d-down"><a href="tel:(855) 445-8601">Call us on <strong>(855) 445-8601</strong></a></li>
		                     <li class="accordion mobi-d-down">
		                        <a class="accordion-btn">Address<span class="pull-right more-icon fa fa-chevron-down"></span></a>
		                        <ul>
		                        	<div style="text-transform:uppercase;" itemscope="" itemtype="http://schema.org/LocalBusiness">
									      <div style="display: none;" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
									        <img src="https://cdn.shopify.com/s/files/1/0144/7018/5017/files/cc_logo_8b4634e1-85de-4e33-a1e0-819da60312be_140x.png" itemprop="url" width="250">
									      </div>
									    <span style="display: none;" itemprop="priceRange">$25 - $6000</span>
									  <a style="display: none;" itemprop="url" href="https://www.couturecandy.com/"><div itemprop="name"><strong>CoutureCandy</strong></div></a>
									  <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" style="margin-top: 10px;padding: 10px;border-bottom: 1px solid;">
									    <strong style="text-transform:none;">Address: </strong><span itemprop="streetAddress">4050 W. Sunset Road, Suite B</span>, <span itemprop="addressLocality">Las Vegas</span>, <span itemprop="addressRegion">NV</span> -  <span itemprop="postalCode">89118</span> <span itemprop="addressCountry">USA</span>
									  </div>
								 <div style="border-bottom: 1px solid;padding: 5px 0px;">
									 <strong style="padding-left: 10px;">Tel : </strong><span itemprop="telephone"><a href="tel:(855)%20445-8601" style="background: none;display: inline-block;padding: 5px;">(855) 445-8601</a></span></div>
								<div style="border-bottom: 1px solid;">
									  <strong style="padding-left: 10px;">Email : </strong><span itemprop="email"><a href="mailto:cs@couturecandy.com" style="display: inline-block;padding: 10px;background: none;">cs@couturecandy.com</a></span></div>
									 </div>
                              	</ul>
							</li>
							<li class="mobi-d-down"><a href="/account/login" onclick="">Sign in / Create an account</a></li>
		                    <li class="mobi-d-down"><a href="/collections/dresses">Shop by Category</a></li>
		                    <li class="mobi-d-down"><a href="/pages/designers">Shop by Brand</a></li>
		                    <li class="accordion mobi-d-down">
		                        <a class="accordion-btn">More Information <span class="pull-right more-icon fa fa-chevron-down"></span></a>
		                        <ul>
									<li><a href="/pages/affiliates/"><span>Affiliates</span></a></li>
									<li><a href="/pages/couture-candy-reviews/"><span>Couture Candy Reviews</span></a></li>
									<li><a href="https://www.couturecandy.com/newsletter-sign-up/"><span>Newsletter Sign Up</span></a></li>	
									<li><a href="/pages/copyright-information"><span>Copyright Information</span></a></li>	
									<li><a href="/pages/ordering"><span>Ordering</span></a></li>	
									<li><a href="/pages/returns-and-exchanges"><span>Returns &amp; Exchanges</span></a></li>
									<li><a href="/pages/about"><span>About Us</span></a></li>
									<li><a href="/pages/coupons-and-promotions/"><span>Coupons and Promotions</span></a></li>
									<li><a href="/pages/how-to-shop/"><span>How to Shop</span></a></li>	
                                  	<li><a href="/pages/career/"><span>Career</span></a></li>
									<li><a href="/pages/contact-us/"><span>Contact Us</span></a></li>	
									<li><a href="/blogs/celebrity"><span>Blogs</span></a></li>

                              	</ul>
							</li>
                          
                          {% if template == 'index' %}
                           <li class="accordion mobi-d-down">
                          	<a class="accordion-btn">More About Online Shopping at Couture Candy <span class="pull-right more-icon fa fa-chevron-down"></span></a>
                               <ul>
                              <div class="brand-outer-custom">
                              <h3>Shop for Your Favorite Dress Style for Prom 2020 at CoutureCandy</h3>
                              <p>We understand that style preferences differ with degree of formality of the event. From sophisticated floor-length gowns to sexy open back gowns, low V-neck dresses, cut-out maxis, and illusion mesh prom dresses, we have got you covered for both formal as well as fashionable prom events. The style list doesn’t end here - from lavish long evening gowns to elegant fit & flare short dresses and two-piece prom gowns, we have the perfect prom dress to suit your style and personality. </p>
                              <p>Traditional or trendy, fashionable or simple - the fabulous prom collections at CoutureCandy are appreciated for their variety of dress styles. Style choices are abundant - shop from our pretty A-line dresses, maxi dresses and two-piece dresses that are available in many colors and designs. The cute babydoll dresses also stand out as a unique category in the collection and are perfect for junior prom and homecoming 2020. Flaunt what you got with the sexy bodycon dresses, stylish mini dresses, ruched dresses, open-back dresses, and the cut-out dresses. For fairly casual attire, go with CoutureCandy’s comfortable fit and flare dresses, midi dresses, and colorful pleated dresses. Shop from myriad styles of designer dresses online at affordable rates only at CoutureCandy. If you’re looking for a steal-worthy bargain, check out our Final Clearance Sale that boasts highly discounted prom dresses from top designers. Happy shopping!</p>

                              <h3>Doll Up with CoutureCandy for All Your Special Events</h3>
                              <p>Make your special occasions even more memorable with our designer dress collections for different events. Events like prom and homecoming only happen once in a lifetime. Buy your dream prom dress online from our irresistible collection and make some heads turn at the party. CoutureCandy also has a collection of petite prom dresses and plus size dresses to encourage every woman to look and feel her best this Prom season. You can also shop for homecoming dresses at highly discounted rates from our special sale online. </p>
                              <p>Not just that; we have the perfect dresses for all other events - formal, semi-formal, or casual. Whether it is nights-out with friends, pageants, military balls, charity galas, weddings, or family gatherings, our trendy long dresses, ball gowns, short dresses, cocktail dresses, and other fashionable party dresses will spoil you for choices with their creative designs, stunning colors and unique styles. We also have a stunning wedding collection for both wedding guests as well as brides of 2020.  We have beautiful bridal gowns by different designers like Tarik Ediz, Mary’s Bridal, Elizabeth K, etc. You can also check out the exquisite collection of mother of the bride dresses, affordable bridesmaid outfits, and other wedding guest dresses for this auspicious day.</p>

                              <h3>Shop for A Special Occasion Dress in Your Favorite Color</h3>
                              <p>It is said that every color reflects a certain personality. With CoutureCandy’s colorful collection, now you can unleash any side of your personality with the right colored outfit. Check out the adorable shades of red for Prom 2020. Shop for crimson, carmine, burgundy, or scarlet prom dresses and look like a goddess. If you have an ultra feminine personality, you will look gorgeous in blush pink dresses, light blue dresses, and baby yellow dresses. If you want to go for a simple and formal look, basic colors like black, white, beige, or navy-blue outfits will be perfect. And if you wish to dazzle this Prom, various shades of gold, silver, and champagne, etc. are also available in a variety of shimmer, glitter, and metallic tones. Season’s top colors for Prom 2020 like wine, emerald, lavender, olive, royal blue, teal, hot pink, etc. are available too. All these designer dresses become extremely affordable with CoutureCandy's online sale that boasts highly discounted dresses at up to 90% off! Shop now!</p>
                              <h3>To Top it Off - Accessorize with Designer Prom Jewelry 2020</h3>
                              <p>CoutureCandy offers a gorgeous collection of jewelry from top designers like Heather Gardner, Heather Hawkins, Kenneth Jay Lane, etc. to help you top it off with a little bit of bling. Our unique designs of jewelry will transform the simplest of dresses into luxurious outfits. Buy online from our beautiful selection of prom earrings, prom necklaces and prom bracelets that you can don at the event. The designs are a flawless blend of classic and contemporary, representing both tradition and trend in our prom jewelry 2020 collection. If you wish to have matching accessories that complement your prom outfit, shop for prom jewelry sets that are available in many colors. Versatile silver and gold prom jewelry such as gold prom earrings, silver prom earrings, and silver prom necklaces are must-haves not only for Prom but also for other special occasions. Red prom jewelry like red prom earrings and bracelets are also available along with rare black prom jewelry and season’s best-selling rose gold prom jewelry. Pull off an exclusive look at the party with the right accessories. Get, set, accessorize!</p>

                              	<div class="brands-custom">
                              	<h4>Top Brands</h4>
                                  <ul>
                                  <li><a href="/collections/sherri-hill">Sherri Hill</a></li>
                                  <li><a href="/collections/Jovani">Jovani</a></li>
                                  <li><a href="/collections/Mon-Cheri">Mon Cheri</a></li>
                                  <li><a href="/collections/La-Femme">La Femme</a></li>
                                  <li><a href="/collections/Alyce-Paris">Alyce Paris</a></li>
                                  <li><a href="/collections/Mac-Duggal">Mac Duggal</a></li>
                                  <li><a href="/collections/Dancing-Queen">Dancing Queen</a></li>
                                  <li><a href="/collections/Soulmates">Soulmates</a></li>
                                  <li><a href="/collections/SCALA">SCALA</a></li>
                                  <li><a href="/collections/tadashi-shoji">Tadashi Shoji</a></li>
                                  <li><a href="/collections/Terani-Couture">Terani Couture</a></li>
                                  <li><a href="/collections/mori-lee">Mori Lee</a></li>
                                  <li><a href="/collections/Ellie-Wilde">Ellie Wilde</a></li>
                                  <li><a href="/collections/Adrianna-Papell">Adrianna Papell</a></li>
                                  <li><a href="/collections/JS-Collections">JS Collections</a></li>
                                  <li><a href="/collections/May-Queen">May Queen</a></li>
                                  <li><a href="/collections/Faviana">Faviana</a></li>
                                  <li><a href="/collections/Alfred-Sung">Alfred Sung</a></li>
                                  <li><a href="/collections/jasz-couture">Jasz Couture</a></li>
                                  <li><a href="/collections/After-Six">After Six</a></li>
                                  <li><a href="/collections/Studio-17">Studio 17</a></li> 
                                  <li><a href="/collections/MNM-COUTURE">MNM Couture</a></li>
                                  <li><a href="/collections/ashley-lauren/">Ashley Lauren</a></li>
                                  <li><a href="/collections/Clarisse">Clarisse</a></li>
                                  <li><a href="/collections/Theia">Theia</a></li>
                                  <li><a href="/collections/damas">Damas</a></li>
                                  <li><a href="/collections/Madison-James">Madison James</a></li>
                                  <li><a href="/collections/Panoply">Panoply</a></li>
                                  <li><a href="/collections/Anne-Klein">Anne Klein</a></li>
                                  <li><a href="/collections/Alex-Evenings">Alex Evenings</a></li>
                                  <li><a href="/collections/Colors-Dress">Colors Dress</a></li>
                                  </ul>
                                  </div>

                                <div class="brands-custom">
                                <h4>Top Categories</h4>
                                <ul>
                                  <li><a href="/collections/prom-dresses">Prom Dresses</a></li>
                                  <li><a href="/collections/cocktail-dresses">Cocktail</a></li>
                                  <li><a href="/collections/mother-of-the-bride-dresses">Mother of the Bride</a></li>
                                  <li><a href="/collections/homecoming-dresses">Homecoming</a></li>
                                  <li><a href="/collections/wedding-dresses">Wedding Dresses</a></li>
                                  <li><a href="/collections/dresses">Designer Evening Dresses </a></li>
                                  <li><a href="/collections/bridesmaid-dresses">Bridesmaid</a></li>
                                  <li><a href="/collections/formal-gowns">Formal Gowns</a></li>
                                  <li><a href="/collections/jewelry">Prom Jewelry </a></li>
                                  <li><a href="/collections/classic-prom-dresses">Classic Prom</a></li>
                                  <li><a href="/collections/dresses-under-100">Prom Dresses Under $100</a></li>
                                  <li><a href="/collections/plus-size-dresses">Plus Size Dresses </a></li>
                                  <li><a href="/collections/dresses-under-100">Cheap Prom</a></li>
                                  <li><a href="/collections/formal-dance">Formal Dance</a></li>
                                  <li><a href="/collections/two-piece-dresses">Two Piece Dresses</a></li>
                                  <li><a href="/collections/sequin-dresses">Sequin Gowns</a></li>
                                  <li><a href="/collections/sherri-hill">Sherri Hill Prom</a></li>
                                  <li><a href="/collections/jovani"> Jovani Prom</a></li>
                                  <li><a href="/collections/tarik-ediz">Tarik Ediz</a></li>
                                  <li><a href="/collections/a-line-dresses">A-line</a></li>
                                  <li><a href="/collections/prom-dresses">Ball Gowns</a></li>
                                  <li><a href="/collections/mermaid-dresses">Mermaid Prom Dresses</a></li>
                                  <li><a href="/collections/quinceanera-collection">Quinceanera Collection</a></li>
                                  <li><a href="/collections/formal-pantsuits">Formal Pantsuit</a></li>
                                  <li><a href="/collections/short-dresses">Short Dresses</a></li>
                                  <li><a href="/collections/high-low-dresses">High Low Style</a></li> 
                                  <li><a href="/collections/knee-length-dresses">Knee-Length</a></li>
                                  </ul>
                                  </div>

                                 </div>
                             </ul>
                          </li>
                           {%- endif -%}
                          
						</ul>
           		 </div>
			</div>
		</div>
</div><!---mobilefooterEND---->
<script type="text/javascript">
	$(".accordion-btn").click(function(){
      	var e=$(this);
      	e.siblings("ul").slideToggle('slow');
      	e.toggleClass("open");
      	if (!$(document).height() > $(window).height()) { 
  			$('html, body').animate({scrollTop: '+=100px'}, 800);
        } 
	});
</script>
