<div class="sidebarmenu_div">
  <div class="parentcategoryblock open">
    <h5 class="TitleHeading open ">Clothing</h5>
       <ul class="sidemenu">
              {% for link in linklists.apparel.links %}
                     <li class=""><h3><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }} </a></h3></li>
              {% endfor %} 
            </ul>   
  </div>
  <div class="headings_side">
        <a href="/collections/dresses">shop dresses</a>
        <a href="/collections/accessories">shop Accessories</a>
        <a href="/collections/swimwear">Shop swimwear</a>
        <a href="/pages/designers">shop by designers</a>
               
    </div>
</div>