<div class="sidebarmenu_div">
  <div class="parentcategoryblock open">
    <h5 class="TitleHeading open">CATEGORIES</h5>
       <ul class="sidemenu">
              {% for link in linklists.sale.links %}
                     <li class=""><h3><a href="{{ link.url }}" {% if link.active %}class="active"{% endif %}>{{ link.title }} </a></h3></li>
              {% endfor %} 
            </ul>   
  </div>  
</div>