<div class="sidebarmenu_div">
   		<div class="parentcategoryblock open">
        	<h5 class="TitleHeading">Customer Care</h5>
            <ul class="">     
                <li><h3><a href="/pages/contact-us/">Contact Us</a></h3></li>
                 <li><h3><a href="/pages/ordering/">Ordering</a></h3></li>
                 <li><h3><a href="/pages/coupons-and-promotions/">Coupons and Promotions</a></h3></li>
                 <li><h3><a href="/pages/shipping-and-processing-information">Shipping Information</a></h3></li>
                 <li><h3><a href="/pages/returns-and-exchanges">Returns &amp; Exchanges</a></h3></li>
                 <li><h3><a href="/pages/couture-candy-reviews/"> Customer Reviews </a></h3></li>
           </ul>
    </div>  
      <div class="parentcategoryblock"> 
         <h2 class="TitleHeading nocontent">Information</h2>
            <ul class="">   
                <li><h3><a target="_blank" href="https://couturecandy.aftership.com/">Track an order</a></h3></li>  
                <li><h3><a href="/blogs/celebrity"> Blog </a></h3></li>
                <li><h3><a href="/pages/about/">About</a></h3></li>
                <li><h3><a href="/pages/affiliates/">Affiliates</a></h3></li>
                <li><h3><a style="" target="_blank" href="https://www.surveymonkey.com/r/CCANDYFEEDBACK">Feedback</a></h3></li>
            </ul>   
      </div>                        
</div>