<select id="uncomplicated-select" class="category-select show-styled">
    <option value="" selected="selected" disabled="disabled">&lt;Jump to a category&gt;</option>
        <option value="/collections/new-arrivals">NEW</option>
    <option value="/collections/dresses">Evening</option>
    <option value="#">--- Popular Dresses</option>
    <option value="https://www.couturecandy.com/collections/prom-dresses">--- --- Prom Dresses</option>
    <option value="https://www.couturecandy.com/collections/formal-gowns">--- --- Formal Gowns</option>
    <option value="https://www.couturecandy.com/collections/homecoming-dresses">--- --- Homecoming Dresses</option>
    <option value="https://www.couturecandy.com/collections/mother-of-the-bride-dresses">--- --- MOTHER OF THE BRIDE</option>
    <option value="https://www.couturecandy.com/collections/Mermaid-Dresses">--- --- Mermaid Dresses</option>
    <option value="/collections/mermaid-dresses">--- --- Mermaid Dresses</option>
    <option value="/collections/cocktail-dresses">--- --- Cocktail Dresses</option>
    <option value="/collections/bridesmaid-dresses">--- --- Bridesmaid Dresses</option>
    <option value="/collections/plus-size-dresses">--- --- Plus Size Dresses</option>
    <option value="/collections/dresses-under-100">--- --- Dresses Under $100</option>
    <option value="/collections/casual-dresses">--- --- Casual Dresses</option>
    <option value="/collections/long-dresses">--- --- Long Dresses</option>
    <option value="/collections/party-dresses">--- --- Party Dresses</option>
    <option value="https://www.couturecandy.com/collections/dresses">--- --- View All</option>

    <option value="#">--- Shop By Event</option>
    <option value="https://www.couturecandy.com/collections/prom-dresses">--- --- Prom 2019</option>
    <option value="https://www.couturecandy.com/collections/ball-gowns">--- --- Ball Gowns</option>
    <option value="https://www.couturecandy.com/collections/short-prom-dresses">--- --- SHORT PROM DRESSES</option>
    <option value="https://www.couturecandy.com/collections/long-prom-dresses">--- --- Long Prom Dress</option>
    <option value="https://www.couturecandy.com/collections/wedding-dresses">--- --- Wedding Dresses</option>
    <option value="https://www.couturecandy.com/collections/pageant-dresses">--- --- Pageant Dresses</option>
    <option value="/collections/sweet-16">--- --- Sweet 16</option>
    <option value="/collections/formal-dance">--- --- Formal Dance</option>
    <option value="/collections/graduation-dresses">--- --- Graduation</option>
    <option value="/collections/holiday-dresses">--- --- Holiday Dresses</option>
    <option value="/collections/quinceanera-dresses">--- --- Quinceanera Dresses</option>
    <option value="/collections/military-ball">--- --- Military Ball</option>
    <option value="/collections/dresses">--- --- View All</option>

    <option value="#">--- Shop by length</option>
    <option value="https://www.couturecandy.com/collections/high-low-dresses">--- --- HIGH-LOW DRESSES</option>
    <option value="https://www.couturecandy.com/collections/long-dresses">--- --- Long Dresses</option>
    <option value="https://www.couturecandy.com/collections/short-dresses">--- --- Short Dresses</option>
    <option value="https://www.couturecandy.com/collections/knee-length-dresses">--- --- Knee Length</option>

    <option value="#">--- Shop By Style</option>
    <option value="/collections/classic-prom-dresses">--- --- CLASSIC PROM DRESSES</option>
    <option value="https://www.couturecandy.com/collections/Mermaid-Dresses">--- --- MERMAID DRESSES</option>
    <option value="https://www.couturecandy.com/collections/a-line-dresses">--- --- A-Line Dresses</option>
    <option value="https://www.couturecandy.com/collections/sexy-and-sleek-dresses">--- --- SEXY AND SLEEK</option>
    <option value="https://www.couturecandy.com/collections/two-piece-dresses">--- --- TWO PIECE DRESSES</option>
    <option value="https://www.couturecandy.com/collections/v-neck-dresses">--- --- V-Neck Dresses</option>
    <option value="/collections/evening-dresses">--- --- Evening Dresses</option>
    <option value="/collections/open-back-dresses">--- --- Open Back Dresses</option>
    <option value="/collections/corset-dresses">--- --- Corset</option>
    <option value="/collections/halter-dresses">--- --- Halter Dresses</option>
    <option value="/collections/fit-flare-dresses">--- --- Fit &amp; Flare Dresses</option>
    <option value="/collections/one-shoulder-dresses">--- --- One Shoulder Dresses</option>
    <option value="https://www.couturecandy.com/collections/dresses">--- --- View All</option>

    <option value="#">--- Shop By Color</option>
    <option value="https://www.couturecandy.com/collections/black-dresses">--- --- Black Dresses</option>
    <option value="https://www.couturecandy.com/collections/blue-dresses">--- --- Blue Dresses</option>
    <option value="https://www.couturecandy.com/collections/green-dresses">--- --- Green Dresses</option>
    <option value="https://www.couturecandy.com/collections/nude-dresses">--- --- Nude Dresses</option>
    <option value="https://www.couturecandy.com/collections/pink-dresses">--- --- Pink Dresses</option>
    <option value="https://www.couturecandy.com/collections/Red-dresses">--- --- Red Dresses</option>
    <option value="/collections/gold-dresses">--- --- Gold Dresses</option>
    <option value="/collections/white-dresses">--- --- White Dresses</option>
    <option value="/collections/chocolate-dresses">--- --- Chocolate Dresses</option>
    <option value="/collections/yellow-dresses">--- --- Yellow Dresses</option>
    <option value="/collections/ivory-dresses">--- --- Ivory Dresses</option>
    <option value="/collections/silver-gray-dresses">--- --- Silver Gray Dresses</option>
    <option value="https://www.couturecandy.com/collections/dresses">--- --- View All</option>

    <option value="#">--- Shop By Detail</option>
    <option value="https://www.couturecandy.com/collections/floral-dresses">--- --- Floral Dresses</option>
    <option value="https://www.couturecandy.com/collections/ombre-dresses">--- --- Ombre Dresses</option>
    <option value="https://www.couturecandy.com/collections/sequin-dresses">--- --- Sequin Dress</option>
    <option value="https://www.couturecandy.com/collections/pastel-dresses">--- --- Pastel Dresses</option>
    <option value="https://www.couturecandy.com/collections/embroidery-dresses">--- --- Embroidery Dresses</option>
    <option value="https://www.couturecandy.com/collections/neon-dresses">--- --- Neon Dresses</option>
    <option value="/collections/lace-dresses">--- --- Lace Dresses</option>
    <option value="/collections/metallic-dresses">--- --- Metallic Dresses</option>
    <option value="/collections/polka-dot-dresses">--- --- Polka Dot Dresses</option>
    <option value="/collections/print-dresses">--- --- Print Dresses</option>
    <option value="https://www.couturecandy.com/collections/dresses">--- --- View All</option>


    <option value="/collections/cocktail-dresses">COCKTAIL</option>
    <option value="/collections/prom-dresses">PROM</option>
    <option value="/collections/prom-dresses">--- Prom Dresses 2019</option>
    <option value="/collections/short-prom-dresses">--- Short Prom Dresses</option>
    <option value="/collections/long-prom-dresses">--- Long Prom Dresses</option>
    <option value="/collections/classic-prom-dresses">--- Classic Prom Dresses</option>

    <option value="#">WEDDING</option>
    <option value="/collections/bridesmaid-dresses">--- BRIDESMAID</option>
    <option value="/collections/mother-of-the-bride-dresses">--- MOTHER OF THE BRIDE</option>
    <option value="/collections/wedding-dresses">--- WEDDING DRESSES</option>

    <option value="/collections/jewelry">JEWELRY</option>
    <option value="/collections/swimwear">SWIMWEAR</option>
    <option value="/collections/apparel">APPAREL</option>
    <option value="/collections/final-clearance-sale">SALE</option>
    <option value="/collections/final-clearance-sale">--- Final Clearance Sale</option>
    <option value="/collections/formal-gowns-on-sale">--- Formal Gowns ON SALE</option>
    <option value="/collections/cocktail-dresses-on-sale">--- Cocktail Dresses ON SALE</option>
    <option value="/collections/mother-of-the-bride-on-sale">--- Mother of the Bride ON SALE</option>
    <option value="/collections/bridesmaid-dresses-on-sale">--- Bridesmaid Dresses ON SALE</option>
    <option value="/collections/prom-dresses-on-sale">--- Prom Dresses ON SALE</option>
    <option value="/collections/plus-size-dresses-on-sale">--- Plus Size Dresses ON SALE</option>
    <option value="/collections/homecoming-dresses-on-sale">--- Homecoming Dresses ON SALE</option>
    <option value="/collections/long-dresses-on-sale">--- Long Dresses ON SALE</option>
    <option value="/collections/short-dresses-on-sale">--- Short Dresses ON SALE</option>
    <option value="/collections/party-dresses-on-sale">--- Party Dresses ON SALE</option>

    <option value="/pages/designers">DESIGNERS</option>
    <option value="#">--- A-F</option>
    <option value="/collections/adrianna-papell">--- --- Adrianna Papell</option>
    <option value="/collections/angela-alison">--- --- Angela &amp; Alison</option>
    <option value="/collections/alyce-paris">--- --- Alyce Paris</option>
    <option value="/collections/beside-couture-by-gemy">--- --- Beside Couture by Gemy</option>
    <option value="/collections/blush-by-alexia-designs">--- --- Blush by Alexia Designs</option>
    <option value="/collections/colors-dress">--- --- Colors Dress</option>
    <option value="/collections/cinderella-divine">--- --- Cinderella Divine</option>
    <option value="/collections/clarisse">--- --- Clarisse</option>
    <option value="/collections/dancing-queen">--- --- Dancing Queen</option>
    <option value="/collections/elizabeth-k">--- --- Elizabeth K</option>
    <option value="/collections/faviana">--- --- Faviana</option>
    <option value="/pages/designers">--- --- View All</option>

    <option value="#">--- G-L</option>
    <option value="/collections/jovani">--- --- Jovani</option>
    <option value="/collections/blush-by-alexia-designs">--- --- Intrigue</option>
    <option value="/collections/ieena-duggal">--- --- Ieena Duggal</option>
    <option value="/collections/harper-and-lemon">--- --- Harper And Lemon Dresses</option>
    <option value="/collections/colors-dress">--- --- Glow by Colors</option>
    <option value="/collections/janique">--- --- Janique</option>
    <option value="/collections/jarin-k-jewelry">--- --- Jarin K Jewelry</option>
    <option value="/collections/johnathan-kayne">--- --- Johnathan Kayne</option>
    <option value="/collections/js-boutique">--- --- JS Boutique</option>
    <option value="/collections/la-femme">--- --- La Femme</option>
    <option value="/collections/lamarque">--- --- Lamarque</option>
    <option value="/collections/lara-dresses">--- --- Lara Dresses</option>
    <option value="/pages/designers">--- --- View All</option>

    <option value="#">--- M-R</option>
    <option value="/collections/mac-duggal">--- --- Mac Duggal</option>
    <option value="/collections/mon-cheri">--- --- Mon Cheri</option>
    <option value="/collections/montce-swim">--- --- Montce Swim</option>
    <option value="/collections/morrell-maxie">--- --- Morrell Maxie</option>
    <option value="/collections/mnm-couture">--- --- MNM COUTURE</option>
    <option value="/collections/nox-anabel">--- --- Nox Anabel</option>
    <option value="/collections/nina-canacci">--- --- Nina Canacci</option>
    <option value="/collections/panoply">--- --- Panoply</option>
    <option value="/collections/park-108">--- --- Park 108</option>
    <option value="/collections/rachel-allan">--- --- Rachel Allan</option>
    <option value="/pages/designers">--- --- View All</option>

    <option value="#">--- S-Z</option>
    <option value="/collections/scala">--- --- SCALA</option>
    <option value="/collections/soulmates">--- --- Soulmates</option>
    <option value="/collections/saiid-kobeisy">--- --- Saiid Kobeisy</option>
    <option value="/collections/sue-wong">--- --- Sue Wong</option>
    <option value="/collections/studio-17">--- --- Studio 17</option>
    <option value="/collections/tarik-ediz">--- --- Tarik Ediz</option>
    <option value="/collections/terani-couture">--- --- Terani Couture</option>
    <option value="/collections/tiffany-designs">--- --- Tiffany Designs</option>
    <option value="/collections/theia">--- --- Theia</option>
    <option value="/collections/voda-swim">--- --- Voda Swim</option>
    <option value="/pages/designers">--- --- View All</option>


    <option value="/pages/contact-us">Contact</option>
    <option value="tel:(855)%20700-4239">Call us (855)700-4239</option>
    <option value="/pages/career">Career</option>
    <option value="https://www.couturecandy.com/account/login">Register</option>

</select>
{{ 'uncomplicated.categories.catlist.min.js' | asset_url | script_tag }}
{{ 'uncomplicated.categories.catlist.css' | asset_url | stylesheet_tag }}
