<!-- Begin uncomplicated category icons -->
<div id="uncomplicated-icons" style="display: none;" class="category-icons show-styled {% if show_class %}{{ show_class }}{% else %}show-downdirect show-4up{% endif %}">
    <div class="subcat-grid-item">
        <a class="subcat-grid-link" href="#">
            <span class="subcat-grid-link__image">
                <span class="subcat-grid-link__image-centered">
                    <img
                        src="{{ 'no-image-for-this-collection.png' | asset_url }}"
                        alt="subcategory" class="subcat-grid-link__image-img"
                    />
                </span>
            </span>
            <p class="subcat-grid-link__title">Sub-category</p>
        </a>
    </div>
    <div class="subcat-terminator">&nbsp;</div>
</div>
{{ 'uncomplicated.categories.catlist.min.js' | asset_url | script_tag }}
{{ 'uncomplicated.categories.catlist.css' | asset_url | stylesheet_tag }}
<!-- End uncomplicated category icons -->
