<div class="spb_wrapper">
              <div class="spb_text_column spb_content_element gl_mb_0"><div class="spb_wrapper brnds-sec-title"><h1 style="letter-spacing: 1px; text-align: center;">{{ page.title }}</h1></div>
              </div>
           </div>
{%- schema -%}
  {
    "name": "page-popular-dresses",
    "class": "index-section section_gl_bands",
    "settings": [
     
    ]
  }
{% endschema %}
