  {%- assign page_URL = canonical_url | remove: "https://www.couturecandy.com/blogs/" -%}
  {%- assign product_limit = section.settings.set_limit -%}
 {%- capture related_items -%} 
  {% for block in section.blocks %}
  {%- assign single_article = block.settings.single_post -%}
  {%- if page_URL == single_article -%}
  {%- assign selected_col = block.settings.single_post_collection -%}
    {% for product in collections[selected_col].products limit: product_limit  %}
     <div class="product-item owl-carousel-item">
        <div class="owl-carousel-item-inner"> 
          {% include 'section_loop_product_quick' %}
    </div>  
  </div>
    {% endfor %}
  {%- endif -%}
  {% endfor %}
  {%- endcapture -%}
  {%- assign related_items = related_items | trim -%}

 {%- unless related_items == blank -%}
    <section class="related products">
      <h3 class="heading">Shop Similar Dress Trends & Hottest Styles</h3>
        <div id="carousel-{{product.id}}" class="gl_carousel_container">
        <div class="product-items owl-carousel gl_carousel_data" data-nav="true"  data-dots="false" data-loop="true">
          {{ related_items }}
        </div><!-- end product-items -->
      </div><!-- end #carousel-{{product.id}} -->
    </section>
  {%- endunless -%}
{%- schema -%}
 {
    "name": "Select Related Products",
    "settings": [
      {
        "type": "paragraph",
        "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
      },
      {
        "type": "range",
        "id": "set_limit",
        "label": "Collections per row",
        "min": 2,
        "max": 8,
        "step": 2,
        "default": 2
      }
    ],
    "blocks": [
      {
        "type": "article",
        "name": "Articles",
        "settings": [
          {
            "label": "Articles",
            "id": "single_post",
            "type": "article"
          },
          {
            "label": "Collection",
            "id": "single_post_collection",
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}