.iwishAddWrap {display: none !important;}
.shopify-app-block a{font-size:16px;text-transform:uppercase;}
.yith-wcwl-add-button {display: none;}
.iWishView svg {
    margin-top: ;
    margin-top: 6px;
    height: 24px;
    width: 24px;
}
.iWishView {
    margin-left: 10px;
    position: relative;
    margin-top: 12px;
    top: 6px;
}
.iwish-counter {
    width: 17px;
    height: 17px;
    line-height: 16px;
    background-color: #e94949;
    font-size: 11px;
    color: #fff;
    top: -14px;
    left: 15px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}