.shopify-app-block a{font-size:16px;text-transform:uppercase;}
.yith-wcwl-add-button {display: none;}
.iWishView svg {
    
    height: 24px;
    width: 24px;
}
.iWishView {
    margin-left: 10px;
    position: relative;
    top: 4px;
    
}
.iWishCount {
    width: 17px;
    height: 17px;
    line-height: 16px;
    background-color: #e94949;
    font-size: 11px;
    color: #fff;
    top: -4px;
    left: 15px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.shopify-app-block{
  margin-top:10px;
}
a.iWishAddColl svg {
    width: 21px !important;
    height: 21px !important;
}
a.iWishAddColl {
    position: absolute;
    right: 25px;
    top: 6px;
    background: #fff;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
}