<div>
{% capture vendors %} 
{% for vendor in shop.vendors %}{% assign vendor_name =  vendor | title  %}{{ vendor_name }},{% endfor %}
{% endcapture %} 
  {{ vendors }}
<script>
var vendors = {{ vendors }};
  console.log('vendors',vendors);
</script>
</div>
