<div>
 {% assign vendors = '' | split: "," %}

{% for vendor in shop.vendors %}
   {% assign vendor_name =  vendor | title | append: ","  %}
  {{ vendor_name }}
    {% assign vendors = vendors | concat: vendor_name %}
{% endfor %}
<script>
var vendors '{{ vendors }}'
</script>
</div>
