<div>
 {% assign vendors = '' %}

{% for vendor in shop.vendors %}
   {% assign vendor_name =  vendor | title | append: ","  %}
    {% assign vendors = vendors | concat: vendor_name %}
{% endfor %}
{{ vendors }}
</div>
