<div>
 {% assign vendors = '' | split: ',' %}

{% for vendor in shop.vendors %}
   {% assign vendor_name =  vendor | title  %}
    {% assign vendors = controllers | concat: vendor_name %}
{% endfor %}
{{ vendors }}
</div>
